<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<p>
  <mat-toolbar>
    <img src="../assets/images/img.png" class="img">
    <div class="btn1"> <button mat-button>NEW CARS</button>
    </div>
    <div class="btn2"> <button mat-button>USED CARS</button>
    </div>
    <div class="btn3"> <button mat-button>REVIEWS AND NEWS</button>
    </div>
    <div> <input type="search" placeholder="search" class="searchbox">
      <!-- <span><i class="fa fa-search" aria-hidden="true"></i></span> -->
    </div>
    <span class="icon1"><i class="fa fa-map-marker" aria-hidden="true"></i>
    </span>
    <span class="icon2"><i class="fa fa-language" aria-hidden="true"></i></span>
    <span class="icon3"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </span>
  </mat-toolbar>
</p><br>

<!--
<h1>Tata Nexon</h1>
<div>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star-half-alt"></i>
</div>
<div>
  <link  href="414 Reviews">
<span>|</span>

<link rel="stylesheet" href="Write a review">
</div> -->

