.img{
  width: 130px;
  margin-left: 25px;
  padding-bottom: 6px;
}
.btn1{
  font-family: LatoGoogle,Lato,LatoWeb,sans-serif;
    color: #484848;
  margin-left: 80px;
}
.btn2{
  font-family: LatoGoogle,Lato,LatoWeb,sans-serif;
    color: #484848;
  margin-left: 30px;
}
.btn3{
  font-family: LatoGoogle,Lato,LatoWeb,sans-serif;
    color: #484848;
  margin-left: 30px;
}
.searchbox{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 160px;
  width: 300px;
  font-size: 15px;
}
.icon1{
  cursor: pointer;
  margin-left: 60px;
}
.icon2{
  cursor: pointer;
  margin-left: 30px;
}
.icon3{
  cursor: pointer;
  margin-left: 30px;
}
