.location{
  border-color: dodgerblue;
  box-shadow: 0 0 10px 0 dodgerblue;
  padding: 10px 0 5px 0;

}.btn{
  background-color: red;
  padding: 10px ;
  margin-left: 10PX;
  width: 60%;
 color: white;
 cursor: pointer;
}
.locbtn{
  background-color: red;
  color: white;
  padding: 10px,20px;
  width: 250px;
  margin-left: 20px;
  font-size: 20px;
  height: 40px;
  position: fixed;
  margin-top: 60px;

}
.locbtn1{
  background-color: red;
  color: white;
  padding: 10px,20px;
  width: 250px;
  margin-top: o;
  margin-left: 10px;
  font-size: 20px;
  height: 40px;


}
.locbtn2{
  background-color: red;
  color: white;
  padding: 10px,20px;
  width: 250px;
  margin-left: 20px;
  height: 40px;
  font-size: 20px;
  position: fixed;

}

.namebox{
  border-color: dodgerblue;
  box-shadow: 0 0 10px 0 dodgerblue;
  padding: 10px 0 5px 0;
}
.namebox1{
  border-color: dodgerblue;
  box-shadow: 0 0 10px 0 dodgerblue;
  padding: 10px 0 5px 0;
}
.namebox2{
  border-color: dodgerblue;
  box-shadow: 0 0 10px 0 dodgerblue;
  padding: 10px 0 5px 0;
  margin-left: 3PX;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

